<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Country</th>
      <th>Points</th>
      <th>Week change</th>
      <th>Tournaments played</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.last_name %></td>
        <td><%= player.first_name %></td>
        <td><%= player.country %></td>
        <td><%= player.points %></td>
        <td><%= player.week_change %></td>
        <td><%= player.tournaments_played %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
